@{
    ViewData["Title"] = "Home Page";
}

<br/>
<form asp-controller="Home" asp-action="Index">
    <div class="col-lg-12">Enter QR code string</div>
    <br/>
    <div class="col-lg-12">
        <input type="text" name="QRCodeString" id="QRCodeString" class="form-control" />
    </div>
    <br/>
    <br />
    <div class="col-lg-12">
        <input type="submit" value="Generate QR Code" class="btn btn-primary"/>
    </div>
    <br/>
    <br/>
</form>

@if(!string.IsNullOrEmpty(ViewBag.URL))
    {
        <div class="col-lg-12">
            <img src="@ViewBag.URL"/>
        </div>
    }

<div class="col-lg-12">
    <a href="/Home/ReadQRCode">Read image and show text</a>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Text))
{
    <div class="col-lg-12">
        QR Code into text -> @ViewBag.Text
    </div>
}